<div class="buffer-bottom border-bottom border-top">
  <p class="mt-2"><%= comment.body %></p>
  <div>
    <span><small>
      <% if comment.user.present? %>
        <%= render partial: 'users/user', object: comment.user %>
      <% else %>
        <em><strong><%= comment.user_name %></strong></em>
      <% end %>

    <em><%= l comment.created_at, format: :short %></em>
    <% if current_user_can_edit?(comment) %>
      <%= link_to(
            "", event_comment_path(comment.event, comment),
            method: :delete, data: {turbo_method: :delete, turbo_confirm: t('.destroy_confirm') }, class: "btn btn-sm bi bi-trash my-2"
          ) %>
    <% end %>
      </small>
    </span>
  </div>
</div>
