<h2><%= t(".forgot_your_password?") %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { "data-turbo": "false", method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <div class="col-sm-5">
    <%= f.label ".email", class: "mb-1" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  </div>

  <div class="actions my-3">
    <%= f.submit t(".send_me_reset_password_instructions"), class: "btn btn-sm btn-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
